.idea
coverage
build
node_modules
stats.json
/build
/uploads
/logs
/res/uploads

.DS_Store
.env
.env.swp
npm-debug.log
yarn.lock
yarn-error.log
package-lock.json
.docz
Doc
.ftpquota

/my-docz-app

/system/docker/*/redis 
/system/docker/*/mongo
